---
layout: page
title: "Rob Clewley"
subtitle: "Data strategist / Coach / Consultant / Educator"
css: "/css/index.css"
meta-title: "Data science and strategy consultant"
meta-description: "Data, business, research, education, analytics, and consulting. In Atlanta."
bigimg:
 - "/assets/big-imgs/mockinterview.jpeg" : "PyData Mock Interview event"
---

<!--
---
bigimg:
 - "/assets/big-imgs/..." : ""
 -
 -
---
  -->

  <div class="intro-header no-img">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10">
          <div class="page-heading">
              <span class="page-subheading"><strong>Helping you reach data maturity in your business</strong></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" role="main">
    <div class="row">
      <div class="col-lg-8 col-md-10">
        <div class="main-explain-area jumbotron">
    <p><strong>Do you need help understanding your next steps with data?</strong></p>
    <p><ul>
      <li>How to interpret "data-driven" for <i>your</i> business
      <li>How to connect engineering and product development with leadership
      <li>How to make your business intelligence more impactful
      <li>How and when to hire for your emerging data needs
      <li>How to prioritize addressing your technical debt
    </ul>
    </p>
    <p><strong>Improve process, tooling, technique, and strategy with coaching for you or your team.
    </strong></p>
    <p><strong>Save time and money with a free first-time consultation to help you plan ahead.
    </strong></p>
    <center>
      <div class="get-started-wrap">
       <a class="btn btn-success btn-lg get-started-btn" href="./aboutme#Contact">Contact me!</a>
     </div>
    </center>
  </div>

<hr>

<!--
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>
-->

<div class="posts-list">
  {% for post in paginator.posts %}
  <article>
    <a class="post-preview" href="{{ post.url | prepend: site.baseurl }}">
	    <h2 class="post-title">{{ post.title }}</h2>

	    {% if post.subtitle %}
	    <h3 class="post-subtitle">
	      {{ post.subtitle }}
	    </h3>
	    {% endif %}
      <p class="post-meta">
        Posted on {{ post.date | date: "%B %-d, %Y" }}
      </p>

      <div class="post-entry">
        {{ post.content | truncatewords: 50 | strip_html | xml_escape}}
        <span href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</span>
      </div>
    </a>
    <br>
   </article>
  {% endfor %}
</div>


<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}/">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}/">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
